<!DOCTYPE html>
{% extends "_base.html" %}
{% load crispy_forms_tags %}
{% load socialaccount %}
{% load i18n %}

{% block title %}
  ورود
{% endblock title %}


<div class="row row-cols-1 row-col-1">
  {% block content %}
  
  <div id="logreg-forms">
  <form class="form-signin" action="" method="POST">
    {% csrf_token %}
      <br><h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> تغییر رمز عبور  </h1>
      {{ form|crispy }}
      <button class="btn btn-success btn-block" type="submit"><i class="fas fa-sign-in-alt"></i> تغییر پسورد</button>
      <hr>
      <a href="{% url 'account_signup' %}" class="btn btn-primary text-light" type="" id="btn-signup"><i class="fas fa-user-plus"></i> ساخت اکانت جدید</a>

    </form>
      <br>
            
</div>
</div>
{% endblock content %}