<!DOCTYPE html>
{% extends "_base.html" %}
{% load crispy_forms_tags %}
{% load socialaccount %}
{% load i18n %}

{% block title %}
  ورود
{% endblock title %}


<div class="row row-cols-1 row-col-1">
  {% block content %}
  
  <div id="logreg-forms">
    {% if token_fail %}
    {% url 'account_reset_password' as passwd_reset_url %}
    <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
    {% if form %}
    <form class="form-signin" method="POST" action="{{ action_url }}">
      {% csrf_token %}
      <br><h1 class="h3 mb-3 font-weight-normal" style="text-align: center">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>
      {{ form|crispy }}
        <input class="btn btn-primary text-light" type="submit" name="action" value="{% trans 'change password' %}"/>
    </form>
    {% else %}
    <p>{% trans 'Your password is now changed.' %}</p>
{% endif %}
{% endif %}
      <br>
            
</div>
</div>
{% endblock content %}