<!DOCTYPE html>
{% extends "_base.html" %}
{% load crispy_forms_tags %}
{% load socialaccount %}
{% load i18n %}

{% block title %}
  ورود
{% endblock title %}


{% block content %}
<div class="row row-cols-1 row-col-1">
  
  <div id="logreg-forms">
  <form class="form-signin" action="" method="POST">
    {% csrf_token %}
      <br><h1 class="h3 mb-3 font-weight-normal" style="text-align: center">بازیابی رمز عبور</h1>
      <p>ایمیلتون رو وارد کنید</p>
      {{ form|crispy }}
      <button class="btn btn-success btn-block" type="submit"><i class="fas fa-sign-in-alt"></i> بازیابی</button>

    </form>
      <br>
            
</div>
</div>
{% endblock content %}