<!DOCTYPE html>
{% extends "_base.html" %}
{% load crispy_forms_tags %}
{% load socialaccount %}
{% load i18n %}

{% block title %}
  ورود
{% endblock title %}


<div class="row row-cols-1 row-col-1">
  {% block content %}
  
  <div id="logreg-forms">
  <form class="form-signin password_set" action="{% url 'account_set_password' %}" method="POST">
    {% csrf_token %}
      <br><h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> تغییر رمز عبور  </h1>
      {{ form|crispy }}
      <input class="btn btn-primary text-light" type="submit" name="action" value="{% trans 'Set Password' %}"/>      <hr>
    </form>
      <br>
            
</div>
</div>
{% endblock content %}