<!DOCTYPE html>
{% extends "_base.html" %}
{% load crispy_forms_tags %}
{% load socialaccount %}


{% block title %}ساخت اکانت{% endblock title %}


{% block content %}

<!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous"> -->
<!-- <link rel="stylesheet" href="/style.css"> -->


<div class="row row-cols-1 row-col-1">
  <div id="logreg-forms">
    <form class="form-signin" action="" method="POST">
      {% csrf_token %}
        <br><h1 class="h3 mb-3 font-weight-normal" style="text-align: center">ایجاد حساب کاربری</h1>
          <br>
          {% comment %}
            
          <a href="{% provider_login_url 'github' %}" class="btn btn-dark btn-outline-secondary" type="button"><span><i class="fab fa-github-alt"></i>ورود با گیتهاب</span> </a>
  <a href="{% provider_login_url 'twitter' %}" class="btn btn-primary btn-outline-secondary" type="button"><span><i class="fab fa-twitter-alt"></i>ورود با توییتر</span> </a>
<br>
        <p style="text-align:center">یا</p>
          {% endcomment %}
        {{ form|crispy }}
        <button class="btn btn-success btn-block" type="submit"><i class="fas fa-sign-in-alt"></i> ساخت اکانت </button>
        <hr>
        <a href="{% url 'account_login' %}" class="btn btn-primary text-light" type="" id="btn-signup"> <i class="fas fa-user-plus"></i>  اکانت دارید؟ ورود </a>
  
      </form>
        <br>
              
  </div>
  </div>


{% endblock content %}