<!DOCTYPE html>
{% extends "_base.html" %}
{% load crispy_forms_tags %}
{% block title %}
  ورود به حساب کاربری
{% endblock title %}

{% block content %}
<div class="container-md col-4" dir="rtl">
  <div class="p-5 p-lg-5 pt-lg-5 text-center text-sm-start">
    <h2>ورود به اکانت</h2>
    <form action="" method="POST" dir="rtl">
        {% csrf_token %}
        {{ form|crispy }}
        <br>
        <button class="btn btn-success" type="submit">ورود</button>
    </form>
  </div>
</div>
{% endblock content %}