<!DOCTYPE html>
{% extends "_base.html" %}
{% load crispy_forms_tags %}
{% block title %}
  ورود
{% endblock title %}

{% block content %}

{% comment %}
  
{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }}">
  {{ message }}
</div>
{% endfor %}
{% endif %}
{% endcomment %}

<div class="container-md col-4">
  <div id="logreg-forms">
  <form class="form-signin" action="" method="POST">
    {% csrf_token %}
      <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> ورود به اکانت</h1>
      <div class="social-login">
          <button class="btn facebook-btn social-btn" type="button"><span><i class="fab fa-facebook-f"></i> ورود با فیسبوک</span> </button>
      </div>
      <p style="text-align:center"> یا  </p>
      {{ form|crispy }}
      <button class="btn btn-success btn-block" type="submit"><i class="fas fa-sign-in-alt"></i> ورود</button>
      <a href="#" id="forgot_pswd">فراموشی پسورد</a>
      <hr>
      <a href="{% url 'signup' %}" class="btn btn-primary text-light" type="" id="btn-signup"><i class="fas fa-user-plus"></i> ساخت اکانت جدید</a>

    </form>
      <br>
            
</div>
</div>
{% endblock content %}