<!DOCTYPE html>
{% extends "_base.html" %}
{% load thumbnail %}


{% block title %}{{ profile.user }}{% endblock title %}
{% block content %}


<div class="container emp-profile">

    <div class="row">
        <div class="col-md-4">
            <div class="profile-img">
                <img style="width: 200px; height: 200px;" src="{{ profile.get_avatar }}" class="rounded-circle account-img" alt="">
            </div>
        </div>
        <div class="col-md-6">
            <div class="profile-head">
                        <h5>
                            {% if profile.user.first_name %}
                                {{ profile.user.first_name }}
                            {% else %}
                                {{ profile.user.username }}
                            {% endif %}
                        </h5>

                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Timeline</a>
                    </li> -->
                </ul>
                <div class="col-md-8">
                    <div class="tab-content profile-tab" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>نام کاربری</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{ profile.user }}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>اسم</label>
                                        </div>
                                        <div class="col-md-6">
                                            {% if profile.user.first_name %}
                                            <p>{{ profile.user.first_name }}</p>
                                            {% else %}
                                            <p>{{ profile.user }}</p>
                                            {% endif %}  
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>تولد</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{ profile.birthday }}</p>
                                        </div>
                                    </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if profile.user == user %}
        <div class="col-md-2">
            <a href="{% url 'profile_edit' user.profile.slug %}" class="btn btn-primary">ویرایش پروفایل</a>
        </div>  
        {% endif %}
        
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="profile-work">
                <!-- <p>WORK LINK</p>
                <a href="">Website Link</a><br/>
                <a href="">Bootsnipp Profile</a><br/>
                <a href="">Bootply Profile</a>
                <p>SKILLS</p>
                <a href="">Web Designer</a><br/>
                <a href="">Web Developer</a><br/>
                <a href="">WordPress</a><br/>
                <a href="">WooCommerce</a><br/>
                <a href="">PHP, .Net</a><br/> -->
            </div>
        </div>

    </div>
</div>

{% endblock content %}

          