<!DOCTYPE html>

{% extends "_base.html" %}


{% block title %}{{ profile.user }}{% endblock title %}
{% block content %}


<form action="" enctype="multipart/form-data" method="POST">
    {% csrf_token %}
<div class="container emp-profile">

    <div class="row">
        <div class="col-md-4">
            <div class="profile-img">
                <img style="width: 200px; height: 200px;" src="{{ user.profile.get_avatar }}" class="rounded-circle account-img" alt="">
            </div>
            {% for field in avatar_form %}
            <div class="file btn btn-white">
                تغییر تصویر
                {{ field }}
              </div>
            {% endfor %}
        </div>
        <div class="col-md-6">
            <div class="profile-head">
                        <h5>
                            {% if profile.user.first_name %}
                                {{ profile.user.first_name }}
                            {% else %}
                                {{ profile.user.username }}
                            {% endif %}
                        </h5>

                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Timeline</a>
                    </li> -->
                </ul>
                <div class="col-md-8">
                    {% for field in user_form %}


        <div class="row align-items-center py-3">
            <div class="col-md-3 ps-5">
    
              <h6 for="id_summary" class="mb-0">{{ field.label_tag }}</h6>
    
            </div>
            <div class="col-md-9 pe-5">
    
                {{ field }}
                
            </div>
          </div>
        
    {% endfor %}

    {% for field in profile_form %}
    <div class="row align-items-center py-3">
        <div class="col-md-3 ps-5">

          <h6 for="id_summary" class="mb-0">{{ field.label_tag }}</h6>

        </div>
        <div class="col-md-9 pe-5">

            {{ field }}
            
        </div>
      </div>
    {% endfor %}
            </div>
            </div>
        </div>
        <div class="col-md-2">
            <button type="submit" class="btn btn-success">ذخیره</button>
        </div>  
        
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="profile-work">
                <!-- <p>WORK LINK</p>
                <a href="">Website Link</a><br/>
                <a href="">Bootsnipp Profile</a><br/>
                <a href="">Bootply Profile</a>
                <p>SKILLS</p>
                <a href="">Web Designer</a><br/>
                <a href="">Web Developer</a><br/>
                <a href="">WordPress</a><br/>
                <a href="">WooCommerce</a><br/>
                <a href="">PHP, .Net</a><br/> -->
            </div>
        </div>

    </div>
         
</div>
</form>
{% endblock content %}

          