<!DOCTYPE html>
{% extends "_base.html" %}


{% block title %}{{ profile.user }}{% endblock title %}
{% block content %}

<form action="" enctype="multipart/form-data" method="POST">
    {% csrf_token %}
<div class="container emp-profile">
      
    <div class="row">
        <div class="col-md-4">
            <div class="profile-img">
                <img src="{{ profile.get_avatar }}" class="rounded-circle account-img" width="200" height="200" alt="">
            </div>
        </div>
        <div class="col-md-6">
            <div class="profile-head">
                        <h5>
                            {% if profile.user.first_name %}
                                {{ profile.user.first_name }}
                            {% else %}
                                {{ profile.user.username }}
                            {% endif %}
                        </h5>

                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Timeline</a>
                    </li> -->
                </ul>
                <div class="col-md-8">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>نام کاربری</label>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" id="id_username" name="name" class="form-control form-control-md" value="{{ profile.user }}" disabled>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>اسم</label>
                                    </div>
                                    <div class="col-md-4">
                                        {% if profile.user.first_name %}
                                        <input type="text" id="id_first_name" name="name" value="{{ profile.user.first_name }}" class="form-control form-control-md"/>
                                        {% else %}
                                        <input type="text" id="id_first_name" name="name" value="{{ profile.user.first_name }}" class="form-control form-control-md"/>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>ایمیل</label>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" id="id_email" name="email" value="{{ profile.user.email }}" class="form-control form-control-md"/>
                                    </div>
                                </div>
                    </div>
            </div>
            </div>
        </div>
        {% if profile.user == user %}
        <div class="col-md-2">
            <button type="submit" class="btn btn-success">ذخیره</button>
        </div>  
        {% endif %}
        
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="profile-work">
                <!-- <p>WORK LINK</p>
                <a href="">Website Link</a><br/>
                <a href="">Bootsnipp Profile</a><br/>
                <a href="">Bootply Profile</a>
                <p>SKILLS</p>
                <a href="">Web Designer</a><br/>
                <a href="">Web Developer</a><br/>
                <a href="">WordPress</a><br/>
                <a href="">WooCommerce</a><br/>
                <a href="">PHP, .Net</a><br/> -->
            </div>
        </div>

    </div>
         
</div>
</form>
{% endblock content %}

          