<!DOCTYPE html>
{% extends "_base.html" %}
{% load jformat %}

{% block content %}


<div class="container-md col-6">
    <div class="p-5 p-lg-5 pt-lg-5 text-center text-sm-start">
        <form class="form-inline mt-2 mt-md-0" action="{% url 'search_results' %}" method="GET">
            <input name="q" class="form-control mr-sm-2" type="text" placeholder="جست‌وجو بین گروه‌ها" aria-label="Search">
          </form>
</div>




<div class="container-md col-12">
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
            {% endfor %}
        {% endif %}
        <div class="d-grid gap-2 col-6 mx-auto">
            <a class="btn btn-success" href="{% url 'new_group' %}" type="button">ساخت گروه جدید</a>
        </div>
        <br>
        <br>
        <h6 style="text-align: center;" class="text-dark mb-4">لیست گروه‌های ساخته‌شده:</h6>
        {% for group in groups %}
        <div class="container">
            
            <div class="card" style="border-radius: 15px;">
                <div class="card-body ">
                    <div class="row">
                        <div class="col-12 ">
                    <h4 class="card-title "><b><a href="{{ group.get_absolute_url }}" class="nav-link text-dark">
                    <img src="{{ group.get_picture }}" style="width: 35px; height: 35px;" alt="DP" class=" rounded-circle img-fluid " width="35" height="35">
                        
                        {{group.name}}
                    </a></b></h4>
                        </div>
                        <div class="col">
                            <h6 class="card-subtitle mb-2 text-muted">
                                <p class="card-text text-muted small "><span class="vl mr-2 ml-0"></span> ساخته شده به دست <span class="font-weight-bold"> {{ group.creator }}</span> در تاریخ {{ group.date_created|jformat:"%A %d %B %Y" }}</p>
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-white px-0 ">
                    <div class="row">
                        <div class=" col-md-auto "><a href="{{ group.get_absolute_url }}" class="btn btn-outlined btn-black text-muted "><img src="https://img.icons8.com/metro/26/000000/more.png" width="20" height="20" class="mr-2 more"><small> بیشتر </small></a> <span class="vl ml-3"></span> </div>
                        <div class="col-md-auto ">
                            <ul class="list-inline">
                                {% for profile in group.members.all %}
                                <a href="{% url 'profile_details' profile.user.username %}"><li class="list-inline-item"> <img src="{{ profile.get_avatar }}" alt="{{ profile.user }}" style="width: 30px; height: 30px;" class=" rounded-circle img-fluid " width="30" height="30"> </li></a>
                                  
                                {% endfor %}
                                <li class="list-inline-item"> <img src="https://img.icons8.com/ios/50/000000/plus.png" width="30" height="30 " class="more"> </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        {% endfor %}
<br>
    </div>



</div>
{% endblock content %}

