<!DOCTYPE html>
{% extends '_base.html' %}
{% load static %}
    {% block title %}صفحه اول{% endblock title %}
{% block content %}
<section class="bg-primary text-light p-5 p-lg-5 pt-lg-5 text-center text-sm-start">
    <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between">
            <div>
                <h1 class="text-dark">با<span class="text-warning text-center">هم‌خوان</span></h1>
                <p class="lead my-4 text-center">
                    می‌خوای یه گروه مطالعه پیدا کنی برای خودت؟
                </p>
                <button class="btn btn-dark btn-lg">شروع کنیم؟</button>
            </div>
            <img class="img-fluid w-50 d-none d-sm-block" style="max-width:30%;" src="{% static 'img/alumni.svg' %}" alt="">
        </div>
    </div>
</section>


<!-- Newsletter -->
<!-- <section class="bg-danger text-dark p-5">
<div class="container">
    <div class="d-md-flex justify-content-between align-items-center">
        <h3 class="mb-3 mb-md-0">عضویت در خبرنامه</h3>
        <div class="input-group news-input">
            <input type="text" class="form-control" placeholder="ایمیلتون" />
            <button class="btn btn-dark btn-lg" type="button">عضویت</button>
        </div>
    </div>
</div>
</section> -->

<!-- Boxes -->
<section class="p-5">
    <div class="container">
        <div class="row text-center g-4">
            <div class="col-md">
                <div class="card bg-dark text-light">
                    <div class="card-body text-center">
                        <div class="h1" mb-3>
                            <i class="bi bi-laptop"></i>
                        </div>
                        <h3 class="card-title">
                            گروه یک
                        </h3>
                        <p class="card-text">
                            اهداف تشکیل گروه یک عبارت است از یک سری کلمات بی معنا برای بعدا نمیدانیم
                        </p>
                        <a href="#" class="btn btn-primary">
                            وارد گروه شوید
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="card bg-secondary text-light">
                    <div class="card-body text-center">
                        <div class="h1" mb-3>
                            <i class="bi bi-person-square"></i>
                        </div>
                        <h3 class="card-title">
                            گروه دو
                        </h3>
                        <p class="card-text">
                            اهداف تشکیل گروه یک عبارت است از یک سری کلمات بی معنا برای بعدا نمیدانیم
                        </p>
                        <a href="#" class="btn btn-dark">
                            وارد گروه شوید
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="card bg-dark text-light">
                    <div class="card-body text-center">
                        <div class="h1" mb-3>
                            <i class="bi bi-laptop"></i>
                        </div>
                        <h3 class="card-title">
                            گروه سه
                        </h3>
                        <p class="card-text">
                            اهداف تشکیل گروه یک عبارت است از یک سری کلمات بی معنا برای بعدا نمیدانیم
                        </p>
                        <a href="#" class="btn btn-primary">
                            وارد گروه شوید
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Learn Sections -->
<section id="#learn" class="p-5 text-sm-start">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-md">
                <img src="{% static 'img/reading.svg' %}" class="img-fluid w-50" style="max-width:50%;" alt="">
            </div>
            <div class="col-md p-5">
                <h2>
                    بخش آموزش
                </h2>
                <p class="lead">
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از
                </p>
                <p>
                    ‌لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای 
                </p>
                <a href="#" class="btn btn-light mt-3">
                    <i class="bi bi-chevron-left">
                        بیشتر بخوانید
                    </i>
                </a>
            </div>
        </div>
    </div>
</section>

<section id="#learn3" class="p-5 bg-dark text-light text-sm-start">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-md p-5">
                <h2>
                    بخش آموزش
                </h2>
                <p class="lead">
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از
                </p>
                <p>
                    ‌لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای 
                </p>
                <a href="#" class="btn btn-light mt-3">
                    <i class="bi bi-chevron-left">

                        بیشتر بخوانید
                    </i>
                </a>
            </div>
            <div class="col-md">
                <img src="{% static 'img/class(1).svg' %}" class="img-fluid w-50" style="max-width:50%;" alt="">
            </div>
        </div>
    </div>
</section>


<!-- Question Accordion -->
<section id="questions" class="p-5">
<div class="container">
  <h2 class="text-center mb-4">سوالات متداول</h2>
  <div class="accordion accordion-flush" id="questions-acc">
    <!-- Item 1 -->
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#question-one"
        >
          سوال اول
        </button>
      </h2>
      <div
        id="question-one"
        class="accordion-collapse collapse"
        data-bs-parent="#questions"
      >
        <div class="accordion-body">
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای 
        </div>
      </div>
    </div>
    <!-- Item 2 -->
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#question-two"
        >
          سوال دوم
        </button>
      </h2>
      <div
        id="question-two"
        class="accordion-collapse collapse"
        data-bs-parent="#questions"
      >
        <div class="accordion-body">
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای 

        </div>
      </div>
    </div>
    <!-- Item 3 -->
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#question-three"
        >
          سوال سوم
        </button>
      </h2>
      <div
        id="question-three"
        class="accordion-collapse collapse"
        data-bs-parent="#questions"
      >
        <div class="accordion-body">
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای 

        </div>
      </div>
    </div>
    <!-- Item 4 -->
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#question-four"
        >
          سوال چهارم
        </button>
      </h2>
      <div
        id="question-four"
        class="accordion-collapse collapse"
        data-bs-parent="#questions"
      >
        <div class="accordion-body">
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای 
        </div>
      </div>
    </div>
  </div>
</div>
</section>

<!-- Instructors -->
<section id="instructors" class="p-5 bg-primary">
  <div class="container">
      <h2 class="text-center text-white">
          توسعه‌دهندگان سایت
      </h2>
      <p class="lead text-center text-white mb-5">
          متن تصادفی درباره توسعه‌دهندگان سایت که بیش از یک نفر نیست و این متن باید به زودی متوقف شود
      </p>
    <div class="row g-4">
        <div class="col-md-6 col-lg-3">
            <div class="card bg-light">
                <div class="card-body text-center">
                    <img
                    src="https://randomuser.me/api/portraits/men/11.jpg"
                    class="rounded-circle mb-3"
                    alt="">
                    <h3 class="card-title mb-3">عباس بوعذار</h3>
                    <p class="card-text">متن تصادفی درباره شخصی که اصلا نمی‌شناسیم و باید بنویسیم</p>
                    <a href=""><i class="bi bi-twitter text-dark mx-1"></i></a>
                    <a href=""><i class="bi bi-facebook text-dark mx-1"></i></a>
                    <a href=""><i class="bi bi-linkedin text-dark mx-1"></i></a>
                    <a href=""><i class="bi bi-github text-dark mx-1"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="card bg-light">
                <div class="card-body text-center">
                    <img
                    src="https://randomuser.me/api/portraits/women/10.jpg"
                    class="rounded-circle mb-3"
                    alt="">
                    <h3 class="card-title mb-3">عباسه بوعذار</h3>
                    <p class="card-text">متن تصادفی درباره شخصی که اصلا نمی‌شناسیم و باید بنویسیم</p>
                    <a href=""><i class="bi bi-twitter text-dark mx-1"></i></a>
                    <a href=""><i class="bi bi-facebook text-dark mx-1"></i></a>
                    <a href=""><i class="bi bi-linkedin text-dark mx-1"></i></a>
                    <a href=""><i class="bi bi-github text-dark mx-1"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="card bg-light">
                <div class="card-body text-center">
                    <img
                    src="https://randomuser.me/api/portraits/men/31.jpg"
                    class="rounded-circle mb-3"
                    alt="">
                    <h3 class="card-title mb-3">علی دایی</h3>
                    <p class="card-text">متن تصادفی درباره شخصی که اصلا نمی‌شناسیم و باید بنویسیم</p>
                    <a href=""><i class="bi bi-twitter text-dark mx-1"></i></a>
                    <a href=""><i class="bi bi-facebook text-dark mx-1"></i></a>
                    <a href=""><i class="bi bi-linkedin text-dark mx-1"></i></a>
                    <a href=""><i class="bi bi-github text-dark mx-1"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="card bg-light">
                <div class="card-body text-center">
                    <img
                    src="https://randomuser.me/api/portraits/women/40.jpg"
                    class="rounded-circle mb-3"
                    alt="">
                    <h3 class="card-title mb-3">یه خانم دیگه</h3>
                    <p class="card-text">متن تصادفی درباره شخصی که اصلا نمی‌شناسیم و باید بنویسیم</p>
                    <a href=""><i class="bi bi-twitter text-dark mx-1"></i></a>
                    <a href=""><i class="bi bi-facebook text-dark mx-1"></i></a>
                    <a href=""><i class="bi bi-linkedin text-dark mx-1"></i></a>
                    <a href=""><i class="bi bi-github text-dark mx-1"></i></a>
                </div>
            </div>
        </div>
    </div>
  </div>
</section>


<!-- Footer -->
<footer class="p-5 bg-dark text-white text-center position-relative">
  <div class="container">
      <p class="lead">
          Copyright &copy; 2021 Bootcamp
      </p>
      <a href="" class="position-absolute bottom-0 end-0 p-5">
          <i class="bi bi-arrow-up-circle h1"></i>
      </a>
  </div>
</footer>



{% endblock content %}