<!DOCTYPE html>
{% extends '_base.html' %}
{% load static %}
{% block title %}صفحه اول{% endblock title %}
{% block metatags %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta property="og:title" content="باهم‌خوان">
<meta name="description" property="og:description" content="با‌هم‌خوان، جایی برای پیدا کردن پارتنر مطالعات درسی و غیردرسی و ایجاد گروه‌های با‌هم‌خوانی">
<meta property="og:image" content="{% static 'img/alumni.png' %}">
<meta property="og:image:alt" content="با‌هم‌خوان، جایی برای پیدا کردن پارتنر مطالعه">
<meta property="og:url" content="با‌هم‌خوان، جایی برای پیدا کردن پارتنر مطالعه">
<meta name="twitter:card" value="با‌هم‌خوان، جایی برای پیدا کردن پارتنر مطالعه">
{% endblock metatags %}
{% block content %}
<section class="bg-primary text-dark p-5 p-lg-5 pt-lg-5 text-center text-sm-start">
    <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between">
            <div>
                <h1 class="text-dark">با<span class="text-warning text-center">هم‌خوان</span></h1>
                <p class="lead my-4 text-center text-dark">
                    توی باهم‌خوان یا پارتنر مطالعه‌ای خواهید یافت یا پارتنر مطالعه‌ای خواهید ساخت
                </p>
                <a href="#groups" class="btn btn-warning btn-lg">شروع کنیم؟</a>
            </div>
            <img class="img-fluid w-50 d-none d-sm-block" style="max-width:30%;" src="{% static 'img/alumni.svg' %}"
                alt="">
        </div>
    </div>
</section>



<!-- Boxes -->
<section class="p-5" id="groups">
    <div class="container">
        <h6>آخرین گروه‌های ایجاد شده:</h6>
        <br>
        <div class="row row-cols-1 row-cols-md-3">
            {% for group in groups_list %}

            <div class="col mb-4">
                <div class="card h-100">
                    <div class="card-body text-center">
                        <div class="h1" mb-3>
                            <img src="{{ group.get_picture }}" style="width: 35px; height: 35px;" alt="DP"
                                class=" rounded-circle img-fluid " width="35" height="35">
                        </div>
                            <a class="text-decoration-none" href="{{ group.get_absolute_url }}">
                                <h3 class="card-title">{{ group.name }}</h3>
                            </a>
                        <div class="card-body">
                            <p class="card-text">{{ group.summary }}</p>
                            <br>
                        </div>
                    </div>
                    <a href="{{ group.get_absolute_url }}" class="btn btn-primary">
                        ورود به صفحه گروه
                    </a>
                </div>
            </div>

            {% endfor %}

            <div class="col mb-4">
                <div class="card h-100">
                    <div class="card-body text-center">
                        <div class="card-body">
                            <br>
                            <br>
                            <br>
                            <h3 class="card-title">می‌خوام گروه‌های بیشتری ببینم</h3>
                            <br>
                            <a href="{% url 'group_list' %}" class="btn btn-primary">
                                از اینجا
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- Learn Sections -->
<section id="#learn" class="p-5 text-sm-start">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-md">
                <img src="{% static 'img/reading.svg' %}" class="img-fluid w-50" style="max-width:50%;" alt="">
            </div>
            <div class="col-md p-5">
                <h2>
                   باهم‌خوان چیه؟
                </h2>
                <p class="lead">
                    به‌طور خلاصه ما یه وب‌سایتیه برای پیدا کردن هم‌گروهی برای مطالعات درسی و غیردرسیتون
                </p>
                <p>
                    اینجا هنوز اونقدر بزرگ نیست که اسمشو بذاریم شبکه اجتماعی اما قطعا همچین کارکردی داره. اینجا می‌تونید تو گروه‌های کتاب‌خونی عضو بشید و یا گروه‌های خودتونو ایجاد کنید و با هم‌گروه‌های خودتون در ارتباط باشید
                </p>
                {% comment %}
                  
                <a href="#" class="btn btn-light mt-3">
                    <i class="bi bi-chevron-left">
                        بیشتر بخوانید
                    </i>
                </a>
                {% endcomment %}
            </div>
        </div>
    </div>
</section>

<section id="#learn3" class="p-5 bg-dark text-white text-sm-start">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-md p-5">
                <h2>
                    چرا مطالعه گروهی؟ 
                </h2>
                <p class="lead">
                    مطالعه گروهی فواید زیادی داره ولی یکی از اصلی‌ترین فوایدش کنار گذاشتن تنبلیه.
                </p>
                <p class="text-white">
                    اول از همه تو باهم‌خوان هم‌گروه‌هایی خواهید داشت که به‌خاطرشون کارهای خوندنتون رو انجام می‌دید، نکته دوم اینه که آدم هرچقدر هم دقیق بخونه خودش تمام جنبه‌های درس یا کتاب رو نمی‌گیره یا نمی‌بینه، قراره اینجا با صحبت درباره‌ش جنبه‌های بیشتری از مطالعه‌تون رو متوجه بشید. مورد سوم هم اینه که اینجا قراره بنویسید، وقتی می‌نویسید هم بهتر یادتون می‌مونه و هم و موقع نوشتن باز چیزهای جدیدی یاد می‌گیرید.
                </p>

                {% comment %}
                  
                <a href="#" class="btn btn-light mt-3">
                    <i class="bi bi-chevron-left">
                        
                        بیشتر بخوانید
                    </i>
                </a>
                {% endcomment %}
            </div>
            <div class="col-md">
                <img src="{% static 'img/class(1).svg' %}" class="img-fluid w-50" style="max-width:50%;" alt="">
            </div>
        </div>
    </div>
</section>


<!-- Question Accordion -->
<section id="questions" class="p-5">
    <div class="container">
        <h2 class="text-center mb-4">سوالات متداول</h2>
        <div class="accordion accordion-flush" id="questions-acc">
            <!-- Item 1 -->
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#question-one">
                        باهم‌خوان یعنی چی؟ 
                    </button>
                </h2>
                <div id="question-one" class="accordion-collapse collapse" data-bs-parent="#questions">
                    <div class="accordion-body">
                        باهم‌خوان همون پارتنر مطالعه‌ست، گروه‌های باهم‌خوانی هم قراره نقش گروه‌های مطالعه رو بازی کنن
                    </div>
                </div>
            </div>
            <!-- Item 2 -->
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#question-two">
                        مطالعه چی؟
                    </button>
                </h2>
                <div id="question-two" class="accordion-collapse collapse" data-bs-parent="#questions">
                    <div class="accordion-body">
                        بستگی به خودتون داره، شاید یکی بخواد یه پارتنر برای مطالعه درسی خودش پیدا کنه، یکی برای زبان و یکی هم برای کتاب تاریخ و یا هرچیز دیگه.
                        یا اصلا شاید یکی بخواد یه نفر پیدا کنه فیلم‌های یه کارگردان رو ببینن. اونم پارتنر فیلم می‌شه.

                    </div>
                </div>
            </div>
            <!-- Item 3 -->
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#question-three">
                         چرا ظرفیت گروه‌ها محدوده؟
                    </button>
                </h2>
                <div id="question-three" class="accordion-collapse collapse" data-bs-parent="#questions">
                    <div class="accordion-body">
                        خب اولا سنگ بزرگ نشانه نزدن است. بعدش هم به نظرم تو گروه‌های بزرگ امکان ارتباط یک‌به‌یک از بین می‌ره و وقتی این ارتباط از بین بره همدلی و پیگیری یک‌به‌یک هم تموم می‌شه و شاید ناخواسته بعضیا از زیر کار دربرن و اینجوری گروه هدفشو از دست می‌ده.

                    </div>
                </div>
            </div>
            <!-- Item 4 -->
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#question-four">
                        سوال دیگه‌ای دارید؟ 
                    </button>
                </h2>
                <div id="question-four" class="accordion-collapse collapse" data-bs-parent="#questions">
                    <div class="accordion-body">
                        <p>اگه سوال دیگه‌ای دارید و انتقاد و پیشنهادتون رو می‌خواید بهم برسونید ممنون می‌شم ایمیل بزنید بهم</p>
                        <p>bahamkhan.ir[at]gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Instructors -->
{% comment %}
  
<section id="instructors" class="p-5 bg-primary">
    <!-- <div class="container">
        <h2 class="text-center text-white">
            توسعه‌دهندگان سایت
        </h2>
        <p class="lead text-center text-white mb-5">
            متن تصادفی درباره توسعه‌دهندگان سایت که بیش از یک نفر نیست و این متن باید به زودی متوقف شود
        </p>
        <div class="row g-4">
            <div class="col-md-6 col-lg-3">
                <div class="card bg-light">
                    <div class="card-body text-center">
                        <img src="https://randomuser.me/api/portraits/men/11.jpg" class="rounded-circle mb-3" alt="">
                        <h3 class="card-title mb-3">عباس بوعذار</h3>
                        <p class="card-text">متن تصادفی درباره شخصی که اصلا نمی‌شناسیم و باید بنویسیم</p>
                        <a href=""><i class="bi bi-twitter text-dark mx-1"></i></a>
                        <a href=""><i class="bi bi-facebook text-dark mx-1"></i></a>
                        <a href=""><i class="bi bi-linkedin text-dark mx-1"></i></a>
                        <a href=""><i class="bi bi-github text-dark mx-1"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="card bg-light">
                    <div class="card-body text-center">
                        <img src="https://randomuser.me/api/portraits/women/10.jpg" class="rounded-circle mb-3" alt="">
                        <h3 class="card-title mb-3">عباسه بوعذار</h3>
                        <p class="card-text">متن تصادفی درباره شخصی که اصلا نمی‌شناسیم و باید بنویسیم</p>
                        <a href=""><i class="bi bi-twitter text-dark mx-1"></i></a>
                        <a href=""><i class="bi bi-facebook text-dark mx-1"></i></a>
                        <a href=""><i class="bi bi-linkedin text-dark mx-1"></i></a>
                        <a href=""><i class="bi bi-github text-dark mx-1"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="card bg-light">
                    <div class="card-body text-center">
                        <img src="https://randomuser.me/api/portraits/men/31.jpg" class="rounded-circle mb-3" alt="">
                        <h3 class="card-title mb-3">علی دایی</h3>
                        <p class="card-text">متن تصادفی درباره شخصی که اصلا نمی‌شناسیم و باید بنویسیم</p>
                        <a href=""><i class="bi bi-twitter text-dark mx-1"></i></a>
                        <a href=""><i class="bi bi-facebook text-dark mx-1"></i></a>
                        <a href=""><i class="bi bi-linkedin text-dark mx-1"></i></a>
                        <a href=""><i class="bi bi-github text-dark mx-1"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="card bg-light">
                    <div class="card-body text-center">
                        <img src="https://randomuser.me/api/portraits/women/40.jpg" class="rounded-circle mb-3" alt="">
                        <h3 class="card-title mb-3">یه خانم دیگه</h3>
                        <p class="card-text">متن تصادفی درباره شخصی که اصلا نمی‌شناسیم و باید بنویسیم</p>
                        <a href=""><i class="bi bi-twitter text-dark mx-1"></i></a>
                        <a href=""><i class="bi bi-facebook text-dark mx-1"></i></a>
                        <a href=""><i class="bi bi-linkedin text-dark mx-1"></i></a>
                        <a href=""><i class="bi bi-github text-dark mx-1"></i></a>
                    </div>
                </div>
            </div>
        </div> -->
    <!-- </div> -->
</section>
{% endcomment %}




{% endblock content %}